<!-- List Div Start-->
<div *ngIf="ListStaffDiv">
  <nav class="navbar navbar-light bg-light mb-2">
    <a (click)="addStaffdiv()" class="btn btn-success text-white"> Add New Staff Member</a>
</nav>
<div class="container-fluid">
  <table class="table table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">FirstName</th>
        <th scope="col">Email</th>
        <th scope="col">MobileNo</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of users let i = index;">
        <td>{{data.Firstname}}</td>
        <td>{{data.email}}</td>
        <td>{{data.contact}}</td>
        <td><button class="btn btn-info" data-toggle="modal" data-target="#editDetailsModal" (click)="editDetails(i)">Edit</button></td>
        <td><button class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal" (click)="deleteId(i)" >Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>

</div>
<!-- List Div end-->

<!-- Edit Form Start-->
<div class="modal fade" id="editDetailsModal" tabindex="-1" role="dialog" aria-labelledby="editDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDetailsModalLabel">Edit User Details</h5>
        <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         
      <form [formGroup]="editregisterForm" (ngSubmit)="onUpdate()" class="row">
        <div class="form-group col-6">
          <label>Firstname</label>
          <input formControlName="editFirstname" type="text" class="form-control" placeholder="Enter Firstname">
        </div>
       
        <div class="form-group col-6">
          <label>Email</label>
          <input formControlName="editemail" type="text" class="form-control"  placeholder="Enter Email">
        </div>

        <div class="form-group col-6">
          <label>Mobile No</label>
          <input formControlName="editcontact" type="text" class="form-control" placeholder="Enter Mobile No">
        </div>

        <div class="modal-footer col-12 mt-2">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary">Save changes</button>
        </div>
           
      </form>

      </div>
     
    </div>
  </div>
</div>

<!-- Edit form End -->

<!-- Delete details Start-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm !</h5>
        <button type="button" id="deleteModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body">
        Are you sure, you want to delete selected details?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="ondelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete details End-->

<!-- Add Staff Div -->

<div *ngIf="AddStaffDiv">
  <nav class="navbar navbar-light bg-light mb-2">
  <a (click)="listStaffdiv()"  class="btn btn-success text-white"> List Staff</a>
</nav>
<div class="container-fluid">
  <div class="card">

    <div class="card-body">
      <form [formGroup]="AddStaffForm" (ngSubmit)="onSubmit()" class="row">
        <div class="form-group col-6">
          <label>Staff Id</label>
          <input type="text" formControlName="eid" placeholder="Enter Staff Id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.eid.errors }" />
          <div *ngIf="submitted && f.eid.errors" class="invalid-feedback">
              <div *ngIf="f.eid.errors.required">Staff Id is required</div>
          </div>
        </div>

          <div class="form-group col-6">
              <label>First Name</label>
              <input type="text" formControlName="Firstname" placeholder="Enter First Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Firstname.errors }" />
              <div *ngIf="submitted && f.Firstname.errors" class="invalid-feedback">
                  <div *ngIf="f.Firstname.errors.required">First Name is required</div>
              </div>
          </div>
        
          <div class="form-group col-6">
              <label>Email</label>
              <input type="text" formControlName="email" placeholder="Enter Email id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
          </div>

          <div class="form-group col-6">
            <label>Contact</label>
            <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
            <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                <div *ngIf="f.contact.errors.required">Contact No is required</div>
            </div>
        </div>

        <div class="form-group col-12"> 
        <div class="modal-footer" style="border-top: 1px solid #ffffff;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button  class="btn btn-primary">Save changes</button>
        </div>
      </div>

      </form>

   
    </div>

  </div>
</div>


</div>
